/* first part */
body{
    font-family: 'Poppins', sans-serif;
}


.first-part{
    margin: 100px;
    margin-right: 70%;

    display: flex;
    padding: 20px;
    box-sizing: 30%;
    background-color: black;
    border-radius: 20px;
    width: 80%;
   


}
.greatest-show{
    
    height: 40%;
    padding: 40px;
    border-radius: 20px;
    margin-right: 20px
}
h3{
    font-size: 50px;
    color: white;
}
p{
    color: white;
    margin-bottom: 30px;
    font-size:20px ;
}
button{
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(214, 100, 100);
    color: black;
    
}.watch-live:hover{
    height: 200px;
    width: 300px;
}
.watch-live{
    height: 100px;
    width: 300px;
    transition: width 5s ease 1s, height 5s ease 1s;
}

.fa-solid{
    padding: 15px;
}

/* 2nd part */

.navigation{
    background-color: black;
    width: 17%;
    margin: 100px;
    height: 20%;
    margin-top: 20px;
    border-radius: 20px;
}

.Match{
    margin: 25px;
    margin-bottom: 1px;
    background-color: white ;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 10px 50px;
    
}
#group{
    padding: 10px 80px;
}
#blog{
    background-color: red;
    color: white;
    border-radius: 20px;
    margin: 25px;
    text-align: center;
    padding: 10px 100px;
}

/* Blog */

.paragraph{
    color: black;
    font-size: 20px;
    
}
.fa-message-dots{
 color: rgb(85, 51, 7);
}
.transfer{
    background-color: aliceblue;
    flex-direction: column;
    margin-top: 20px;
}
.info{
    display: flex;
    border: dropped;
    
}
.transfers-info{
    margin: 20px;
}
 .articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    
}
.border{
    background-color:  white;
    border-radius: 20px;
    
    margin: 20px;
    width: 50%;
}
.flex{
    display: flex;
}
#link-hide{
    display: none;
}
/* Footer */

footer{
    background-color: black;
}
h2{
    color: white;
    font-size: 30px;
    padding: 20px;
    padding-top: 90px;
    text-align: center;
}
h1{
    color: white;
    font-size: 15px;
}
hr{
    margin-left: 100px;
    margin-right: 100px;
    
}
.footer-level{
    display: flex;
    padding: 30px;
    justify-content: center;
    
}
.contact{
    padding: 30px;
    
}

/* Media quires */

/* Mobile Device */

@media only screen and (max-width:688px){
    .first-part{
        
        flex-direction: column;
        align-items: flex-end;
        
    }
    .greatest-show{
        padding: 40px;
        flex-direction: column;
    }
    .navigation{
        background-color: white;
        width: 100%;
    }
    .flex{
        flex-direction: column;
    }
    .footer-level{
        flex-direction: column;
        align-items: center;
        
    }
    footer{
        width: 688px;
    }
    .contact{
        flex-direction: column;
    }
    .articles{
    
        grid-template-columns: repeat(1,1fr);
        
    }
    .watch-live{
        margin-left: 40px;
    }
    .Match{
        margin-left: 50px;

    }
    #blog {
        margin-left: 50px;
        padding: 20px 60px;
        margin-left: 80px;
    }
    #group{
          padding: 20px 50px;
          margin-left: 70px;
    }
    .border{
        width: 500px;
        height: 400px;
        padding-left: 100px;
    }
    
}
/* Tablet */
@media only screen and (min-width:688px) and (max-width:992px) {
    .flex{
        flex-direction: column;
    }
    .navigation{
        background-color: aliceblue;
    }
    .upcoming{
        display: flex;
    }
    .articles{
    
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 10%;
        
    }
    
    .link{
        text-decoration: none;
        background-image: linear-gradient(orange ,tomato);
        border-radius: 5px;
        padding: 10px 40px;
        margin-top: 30px;
        margin-left: 40%;
        margin-top: 20%;
    }
    footer{
        margin-top: 10%;
    }
    #link-hide{
        display: inline;
    }
}